apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: devsecops-interview:latest
        ports:
        - containerPort: 8080
        env:
        - name: API_KEY
          value: "sk-prod-1234567890abcdef"
        securityContext:
          runAsUser: 0
          privileged: true
        volumeMounts:
        - name: host
          mountPath: /host
      volumes:
      - name: host
        hostPath:
          path: /
      hostNetwork: true